In [2]:
# Langkah 1: Mengimpor library yang diperlukan
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [3]:
# Langkah 2: Meload dan Mengeksplor data
# Memuat Data
data = pd.read_csv("data_transaksi_restoran.csv")
data.head(10)

   TRX_ID            TRX_TS  PRODUCT_ID        PRODUCT_NAME  SALES
0      85    05/31/17 21.14         263          Cappuccino  34000
1      85    05/31/17 21.14         227         Kopi Tubruk  44000
2      85    05/31/17 21.14         268           Macchiato  26000
3      85    05/31/17 21.14         268           Macchiato  26000
4      85    05/31/17 21.14         268           Macchiato  26000
5      85    05/31/17 21.14         234          Nasi Putih   7000
6      85    05/31/17 21.14         233               Rawon  36000
7      85    05/31/17 21.14         234           Soto Ayam  48000
8      86  06/02/2017 21.38         302  Fresh Orange Juice  34000
9      86  06/02/2017 21.38         306       Mineral Water   8000

In [56]:
# Mengeksplor kolom data
data.columns

Index(['TRX_ID', 'TRX_TS', 'PRODUCT_ID', 'PRODUCT_NAME', 'SALES'], dtype='object')

In [57]:
data.PRODUCT_NAME.unique()

array(['Cappuccino', 'Kopi Tubruk', 'Macchiato', 'Nasi Putih', 'Rawon',
       'Soto Ayam', 'Fresh Orange Juice', 'Mineral Water', 'Roti Bakar',
       'Extra Kerupuk Putih', 'Nasi Goreng Jawa', 'Latte',
       'Bakmi Godog Keju', 'Teh Tubruk', 'Bakmi Goreng Jawa', 'Teh Tarik',
       'Spaghetti Bolognese', 'Pisang Goreng', 'French Fries',
       'Hot/Ice Lemon Tea', 'Espresso', 'Americano', 'Macchiato ',
       'Double Espresso', 'Es Teh Susu (Gula Jawa)', 'Milo Dinosaur',
       'Bakwan Goreng', 'Telur Orak Arik', 'Iced Tea',
       'Pisang Goreng Tuna Sandwich', 'Jasmine', 'Hot Chocolate',
       'Green Tea', 'Iced Peach Tea', 'Takjil', 'Es Batu', 'Lemon Tea',
       'Indomie Goreng (J)', 'Indomie Goreng Aceh', 'Indomie Goreng (R)'],
      dtype=object)

In [58]:
data.TRX_TS.unique()

array(['05/31/17 21.14', '06/02/2017 21.38', '06/03/2017 07.28', ...,
       '08/31/19 16.17', '08/31/19 17.34', '08/31/19 20.23'], dtype=object)

In [7]:

'''
data['Description'] = data['Description'].str.strip()

# Menghapus baris tanpa nomor faktur (InvoiceNo)
data.dropna(axis = 0, subset =['InvoiceNo'], inplace = True)
data['InvoiceNo'] = data['InvoiceNo'].astype('str')

# Menghapus semua transaksi yang dilakukan secara kredit
data = data[~data['InvoiceNo'].str.contains('C')]
'''

data['TRX_TS'] = data['TRX_TS'].str.extract(r'(.{8})').astype('str')
data['TRX_TS'] = data['TRX_TS'].str.strip()
data['TRX_TS'] = data['TRX_TS'].str.replace('\\','/')
print(data['TRX_TS'])
data.head(10)

C:\Users\MyAsus\AppData\Local\Temp\ipykernel_9872\2281834954.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['TRX_TS'] = data['TRX_TS'].str.replace('\\','/')

0        05/31/17
1        05/31/17
2        05/31/17
3        05/31/17
4        05/31/17
           ...
30498    08/30/19
30499    08/26/19
30500    08/30/19
30501    08/26/19
30502    08/30/19
Name: TRX_TS, Length: 30503, dtype: object

   TRX_ID    TRX_TS  PRODUCT_ID        PRODUCT_NAME  SALES
0      85  05/31/17         263          Cappuccino  34000
1      85  05/31/17         227         Kopi Tubruk  44000
2      85  05/31/17         268           Macchiato  26000
3      85  05/31/17         268           Macchiato  26000
4      85  05/31/17         268           Macchiato  26000
5      85  05/31/17         234          Nasi Putih   7000
6      85  05/31/17         233               Rawon  36000
7      85  05/31/17         234           Soto Ayam  48000
8      86  06/02/20         302  Fresh Orange Juice  34000
9      86  06/02/20         306       Mineral Water   8000

In [10]:
data.TRX_TS.unique()

array(['05/31/17', '06/02/20', '06/03/20', '06/05/20', '06/06/20',
       '06/07/20', '06/08/20', '06/11/20', '06/12/20', '06/19/17',
       '06/20/17', '06/21/17', '06/22/17', '06/23/17', '07/28/17',
       '08/26/17', '08/28/17', '09/05/20', '09/06/20', '09/07/20',
       '09/08/20', '09/09/20', '09/10/20', '09/12/20', '09/14/17',
       '09/15/17', '09/16/17', '09/17/17', '09/18/17', '09/19/17',
       '09/20/17', '09/21/17', '09/22/17', '09/28/17', '09/30/17',
       '10/01/20', '10/02/20', '10/03/20', '10/04/20', '10/05/20',
       '10/06/20', '10/07/20', '10/08/20', '10/09/20', '10/10/20',
       '10/11/20', '10/12/20', '10/13/17', '10/14/17', '10/15/17',
       '10/16/17', '10/17/17', '10/18/17', '10/19/17', '10/20/17',
       '10/21/17', '10/22/17', '10/23/17', '10/24/17', '10/25/17',
       '10/26/17', '10/27/17', '10/28/17', '10/29/17', '10/30/17',
       '10/31/17', '11/01/20', '11/02/20', '11/03/20', '11/04/20',
       '11/05/20', '11/06/20', '11/07/20', '11/08/20', '11/09/20',
       '11/10/20', '11/11/20', '11/12/20', '11/13/17', '11/14/17',
       '11/15/17', '11/16/17', '11/17/17', '11/18/17', '11/19/17',
       '11/20/17', '11/21/17', '11/22/17', '11/23/17', '11/24/17',
       '11/25/17', '11/26/17', '11/27/17', '11/28/17', '11/29/17',
       '11/30/17', '12/01/20', '12/02/20', '12/03/20', '12/04/20',
       '12/05/20', '12/06/20', '12/07/20', '12/08/20', '12/09/20',
       '12/10/20', '12/11/20', '12/12/20', '12/13/17', '12/14/17',
       '12/15/17', '12/16/17', '12/17/17', '12/18/17', '12/19/17',
       '12/20/17', '12/21/17', '12/22/17', '12/23/17', '12/24/17',
       '12/25/17', '12/26/17', '12/27/17', '12/28/17', '12/29/17',
       '12/30/17', '12/31/17', '01/01/20', '01/02/20', '01/03/20',
       '01/04/20', '01/05/20', '01/06/20', '01/07/20', '01/08/20',
       '01/09/20', '01/10/20', '01/11/20', '01/12/20', '01/13/18',
       '01/14/18', '01/15/18', '01/16/18', '01/17/18', '01/18/18',
       '01/19/18', '01/20/18', '01/21/18', '01/22/18', '01/23/18',
       '01/24/18', '01/25/18', '01/26/18', '01/27/18', '01/28/18',
       '01/29/18', '01/30/18', '01/31/18', '02/01/20', '02/02/20',
       '02/03/20', '02/04/20', '02/05/20', '02/06/20', '02/09/20',
       '02/10/20', '02/11/20', '02/12/20', '02/13/18', '02/14/18',
       '02/15/18', '02/16/18', '02/17/18', '02/18/18', '02/19/18',
       '02/20/18', '02/21/18', '02/22/18', '02/23/18', '02/24/18',
       '02/25/18', '02/26/18', '02/27/18', '02/28/18', '03/01/20',
       '03/02/20', '03/03/20', '03/04/20', '03/05/20', '03/06/20',
       '03/07/20', '03/08/20', '03/09/20', '03/10/20', '03/11/20',
       '03/12/20', '03/13/18', '03/14/18', '03/15/18', '03/16/18',
       '03/17/18', '03/18/18', '03/19/18', '03/20/18', '03/21/18',
       '03/22/18', '03/23/18', '03/24/18', '03/25/18', '03/26/18',
       '03/27/18', '03/28/18', '03/29/18', '03/30/18', '03/31/18',
       '04/01/20', '04/02/20', '04/03/20', '04/04/20', '04/05/20',
       '04/06/20', '04/07/20', '04/08/20', '04/09/20', '04/10/20',
       '04/11/20', '04/12/20', '04/13/18', '04/14/18', '04/15/18',
       '04/16/18', '04/17/18', '04/18/18', '04/19/18', '04/20/18',
       '04/21/18', '04/22/18', '04/23/18', '04/24/18', '04/25/18',
       '04/26/18', '04/27/18', '04/28/18', '04/29/18', '04/30/18',
       '05/01/20', '05/02/20', '05/03/20', '05/04/20', '05/05/20',
       '05/06/20', '05/07/20', '05/08/20', '05/09/20', '05/10/20',
       '05/11/20', '05/12/20', '05/13/18', '05/14/18', '05/15/18',
       '05/16/18', '05/17/18', '05/18/18', '05/19/18', '05/20/18',
       '05/21/18', '05/22/18', '05/23/18', '05/24/18', '05/25/18',
       '05/26/18', '05/27/18', '05/28/18', '05/29/18', '05/30/18',
       '05/31/18', '06/01/20', '06/04/20', '06/27/18', '06/26/18',
       '06/25/18', '06/24/18', '06/23/18', '06/22/18', '06/21/18',
       '06/20/18', '06/19/18', '06/13/18', '06/10/20', '06/09/20',
       '06/28/18', '06/29/18', '06/30/18', '07/01/20', '07/02/20',
       '07/03/20', '07/04/20', '07/05/20', '07/06/20', '07/07/20',
       '07/08/20', '07/09/20', '07/10/20', '07/11/20', '07/12/20',
       '07/13/18', '07/14/18', '07/15/18', '07/16/18', '07/17/18',
       '07/18/18', '07/19/18', '07/20/18', '07/21/18', '07/22/18',
       '07/23/18', '07/24/18', '07/25/18', '07/26/18', '07/27/18',
       '07/28/18', '07/29/18', '07/30/18', '07/31/18', '08/01/20',
       '08/02/20', '08/03/20', '08/04/20', '08/05/20', '08/06/20',
       '08/07/20', '08/08/20', '08/09/20', '08/10/20', '08/11/20',
       '08/12/20', '08/13/18', '08/14/18', '08/15/18', '08/16/18',
       '08/17/18', '08/18/18', '08/19/18', '08/20/18', '08/21/18',
       '08/23/18', '08/24/18', '08/25/18', '08/26/18', '08/27/18',
       '08/28/18', '08/29/18', '08/30/18', '08/31/18', '09/01/20',
       '09/02/20', '09/03/20', '09/04/20', '09/11/20', '09/13/18',
       '09/14/18', '09/15/18', '09/16/18', '09/17/18', '09/18/18',
       '09/19/18', '09/20/18', '09/21/18', '09/22/18', '09/23/18',
       '09/24/18', '09/25/18', '09/26/18', '09/27/18', '09/28/18',
       '09/29/18', '09/30/18', '10/13/18', '10/14/18', '10/15/18',
       '10/16/18', '10/17/18', '10/18/18', '10/19/18', '10/20/18',
       '10/21/18', '10/22/18', '10/23/18', '10/24/18', '10/25/18',
       '10/26/18', '10/27/18', '10/28/18', '10/29/18', '10/30/18',
       '10/31/18', '11/13/18', '11/14/18', '11/15/18', '11/16/18',
       '11/17/18', '11/18/18', '11/19/18', '11/20/18', '11/21/18',
       '11/22/18', '11/23/18', '11/24/18', '11/25/18', '11/26/18',
       '11/27/18', '11/28/18', '11/29/18', '11/30/18', '12/13/18',
       '12/14/18', '12/15/18', '12/16/18', '12/17/18', '12/18/18',
       '12/19/18', '12/20/18', '12/21/18', '12/22/18', '12/23/18',
       '12/24/18', '12/25/18', '12/26/18', '12/27/18', '12/28/18',
       '12/29/18', '12/30/18', '12/31/18', '01/13/19', '01/14/19',
       '01/15/19', '01/16/19', '01/17/19', '01/18/19', '01/19/19',
       '01/20/19', '01/21/19', '01/22/19', '01/23/19', '01/24/19',
       '01/25/19', '01/26/19', '01/27/19', '01/28/19', '01/29/19',
       '01/30/19', '01/31/19', '02/07/20', '02/08/20', '02/13/19',
       '02/14/19', '02/15/19', '02/16/19', '02/17/19', '02/18/19',
       '02/19/19', '02/20/19', '02/21/19', '02/22/19', '02/23/19',
       '02/24/19', '02/25/19', '02/26/19', '02/27/19', '02/28/19',
       '03/13/19', '03/14/19', '03/15/19', '03/16/19', '03/17/19',
       '03/18/19', '03/19/19', '03/20/19', '03/21/19', '03/22/19',
       '03/23/19', '03/24/19', '03/25/19', '03/26/19', '03/27/19',
       '03/28/19', '03/29/19', '03/30/19', '03/31/19', '04/13/19',
       '04/14/19', '04/15/19', '04/16/19', '04/17/19', '04/18/19',
       '04/19/19', '04/20/19', '04/21/19', '04/22/19', '04/23/19',
       '04/24/19', '04/25/19', '04/26/19', '04/27/19', '04/28/19',
       '04/29/19', '04/30/19', '05/13/19', '05/14/19', '05/15/19',
       '05/16/19', '05/17/19', '05/18/19', '05/19/19', '05/20/19',
       '05/21/19', '05/22/19', '05/23/19', '05/24/19', '05/25/19',
       '05/26/19', '05/27/19', '05/28/19', '05/29/19', '05/30/19',
       '05/31/19', '06/13/19', '06/14/19', '06/15/19', '06/16/19',
       '06/17/19', '06/18/19', '06/19/19', '06/20/19', '06/21/19',
       '06/22/19', '06/23/19', '06/24/19', '06/25/19', '06/26/19',
       '06/27/19', '06/28/19', '06/29/19', '06/30/19', '07/13/19',
       '07/14/19', '07/15/19', '07/16/19', '07/17/19', '07/18/19',
       '07/19/19', '07/20/19', '07/21/19', '07/22/19', '07/23/19',
       '07/24/19', '07/25/19', '07/26/19', '07/27/19', '07/28/19',
       '07/29/19', '07/30/19', '07/31/19', '08/13/19', '08/14/19',
       '08/15/19', '08/16/19', '08/17/19', '08/18/19', '08/19/19',
       '08/20/19', '08/21/19', '08/22/19', '08/23/19', '08/24/19',
       '08/25/19', '08/26/19', '08/27/19', '08/28/19', '08/29/19',
       '08/30/19', '08/31/19'], dtype=object)

In [8]:
# Transaksi Tanggal 05/31/17
TS_05_31_17 = (data[data['TRX_TS'] =='05/31/17']
          .groupby(['TRX_ID', 'PRODUCT_NAME'])['SALES']
          .sum().unstack().reset_index().fillna(0)
          .set_index('TRX_ID'))
TS_05_31_17

PRODUCT_NAME  Cappuccino  Kopi Tubruk  Macchiato  Nasi Putih  Rawon  Soto Ayam
TRX_ID
85                 34000        44000      78000        7000  36000      48000

In [11]:
# Transaksi Tanggal 06/02/20
TS_06_02_17 = (data[data['TRX_TS'] =='06/02/20']
          .groupby(['TRX_ID', 'PRODUCT_NAME'])['SALES']
          .sum().unstack().reset_index().fillna(0)
          .set_index('TRX_ID'))
TS_06_02_17

PRODUCT_NAME,Americano,Bakmi Godog Keju,Cappuccino,Extra Kerupuk Putih,French Fries,Fresh Orange Juice,Latte,Macchiato,Mineral Water,Nasi Putih,Pisang Goreng,Rawon,Roti Bakar,Soto Ayam,Teh Tarik,Teh Tubruk
TRX_ID,,,,,,,,,,,,,,,,
86,0.0,0.0,0.0,0.0,0.0,34000.0,0.0,0.0,8000.0,14000.0,0.0,0.0,0.0,96000.0,0.0,0.0
3616,0.0,0.0,0.0,0.0,0.0,34000.0,34000.0,0.0,0.0,0.0,53000.0,27000.0,0.0,0.0,0.0,12000.0
3617,0.0,0.0,0.0,12000.0,0.0,34000.0,0.0,0.0,0.0,21000.0,29000.0,0.0,0.0,130000.0,0.0,24000.0
3618,0.0,0.0,0.0,0.0,0.0,37000.0,38000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3619,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000.0,7000.0,0.0,0.0,0.0,26000.0,0.0,0.0
3620,0.0,0.0,0.0,0.0,0.0,35000.0,0.0,18000.0,26000.0,0.0,0.0,0.0,0.0,0.0,27000.0,0.0
7626,0.0,0.0,0.0,0.0,17500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45000.0,0.0,0.0,0.0
7627,0.0,0.0,50000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45000.0,0.0,25000.0,0.0
7628,29000.0,30000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12000.0
7629,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,50000.0,0.0

In [12]:
# Transaksi Tanggal 06/03/20
TS_06_03_20 = (data[data['TRX_TS'] =='06/03/20']
          .groupby(['TRX_ID', 'PRODUCT_NAME'])['SALES']
          .sum().unstack().reset_index().fillna(0)
          .set_index('TRX_ID'))
TS_06_03_20

PRODUCT_NAME,Bakmi Godog Keju,Bakmi Goreng Jawa,Cappuccino,Extra Kerupuk Putih,Fresh Orange Juice,Hot/Ice Lemon Tea,Kopi Tubruk,Latte,Macchiato,Mineral Water,Nasi Goreng Jawa,Nasi Putih,Rawon,Roti Bakar,Soto Ayam,Spaghetti Bolognese,Teh Tarik,Teh Tubruk
TRX_ID,,,,,,,,,,,,,,,,,,
87,0.0,0.0,0.0,0.0,0.0,0.0,44000.0,0.0,0.0,0.0,0.0,7000.0,0.0,0.0,48000.0,0.0,0.0,0.0
88,0.0,0.0,34000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22000.0,0.0,0.0,0.0,0.0
89,0.0,0.0,0.0,6000.0,0.0,0.0,18000.0,0.0,0.0,24000.0,34000.0,14000.0,0.0,0.0,35000.0,0.0,0.0,0.0
90,0.0,0.0,34000.0,0.0,0.0,0.0,0.0,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,30000.0,0.0,0.0,0.0,0.0,0.0,0.0,35000.0,60000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12000.0
94,0.0,38000.0,0.0,0.0,0.0,0.0,0.0,0.0,26000.0,26000.0,0.0,0.0,36000.0,0.0,0.0,0.0,78000.0,0.0
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26000.0,0.0,0.0,46000.0,38000.0,0.0,30000.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,34000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30000.0,0.0,38000.0,39000.0,0.0
97,0.0,0.0,0.0,0.0,34000.0,0.0,0.0,0.0,0.0,24000.0,0.0,21000.0,36000.0,0.0,48000.0,0.0,0.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35000.0,0.0
99,0.0,38000.0,0.0,6000.0,35000.0,0.0,42000.0,35000.0,90000.0,8000.0,34000.0,14000.0,36000.0,0.0,78000.0,0.0,35000.0,0.0
100,0.0,0.0,0.0,0.0,0.0,0.0,44000.0,68000.0,0.0,0.0,0.0,0.0,36000.0,0.0,0.0,0.0,0.0,0.0
101,0.0,0.0,66000.0,0.0,0.0,0.0,0.0,0.0,33000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59000.0,8000.0,18000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3621,0.0,0.0,0.0,0.0,72000.0,0.0,0.0,0.0,0.0,16000.0,0.0,0.0,27000.0,0.0,0.0,0.0,0.0,0.0
3622,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38000.0,0.0,0.0,0.0,0.0,12000.0
3623,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3624,0.0,0.0,0.0,0.0,0.0,0.0,24000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3625,30000.0,0.0,34000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3626,30000.0,0.0,0.0,0.0,57000.0,0.0,0.0,0.0,0.0,0.0,0.0,107000.0,0.0,0.0,0.0,0.0,0.0,12000.0
3627,0.0,0.0,0.0,0.0,23000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27000.0,0.0,0.0,0.0,0.0,0.0
7630,0.0,0.0,34000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7631,0.0,0.0,0.0,0.0,34000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45000.0,0.0,0.0
7632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45000.0,0.0,0.0,0.0,0.0
7633,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25000.0,0.0
7634,0.0,0.0,0.0,0.0,23000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7635,0.0,0.0,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7636,0.0,111000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18000.0
7637,0.0,0.0,0.0,0.0,0.0,26000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
def hot_encode(x):
    if(x<= 0):
        return 0
    if(x>= 1):
        return 1

In [14]:
trs_encoded = TS_05_31_17.applymap(hot_encode)
TS_05_31_17 = trs_encoded

trs_encoded = TS_06_02_17.applymap(hot_encode)
TS_06_02_17 = trs_encoded

trs_encoded = TS_06_03_20.applymap(hot_encode)
TS_06_03_20 = trs_encoded
TS_06_03_20

PRODUCT_NAME,Bakmi Godog Keju,Bakmi Goreng Jawa,Cappuccino,Extra Kerupuk Putih,Fresh Orange Juice,Hot/Ice Lemon Tea,Kopi Tubruk,Latte,Macchiato,Mineral Water,Nasi Goreng Jawa,Nasi Putih,Rawon,Roti Bakar,Soto Ayam,Spaghetti Bolognese,Teh Tarik,Teh Tubruk
TRX_ID,,,,,,,,,,,,,,,,,,
87,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0
88,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
89,0,0,0,1,0,0,1,0,0,1,1,1,0,0,1,0,0,0
90,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
91,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
92,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
93,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1
94,0,1,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,0
95,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,0,0,0
96,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0
97,0,0,0,0,1,0,0,0,0,1,0,1,1,0,1,0,0,0
98,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
99,0,1,0,1,1,0,1,1,1,1,1,1,1,0,1,0,1,0
100,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0
101,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
102,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0
3621,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0
3622,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3623,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3624,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3625,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3626,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1
3627,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
7630,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7631,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
7632,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
7633,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
7634,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
7635,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7636,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
7637,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
7638,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [15]:
frq_items = apriori(TS_05_31_17, min_support = 0.05, use_colnames = True)

# Mengumpulkan aturan yang disimpulkan dalam dataframe
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
#print(rules.head())
rules.head()

C:\Users\MyAsus\miniconda3\envs\myenv\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Kopi Tubruk),(Cappuccino),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
1,(Cappuccino),(Kopi Tubruk),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
2,(Macchiato),(Cappuccino),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
3,(Cappuccino),(Macchiato),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0
4,(Nasi Putih),(Cappuccino),1.0,1.0,1.0,1.0,1.0,0.0,inf,0.0

In [16]:
frq_items = apriori(TS_06_02_17, min_support = 0.01, use_colnames = True)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
#print(rules.head())
rules.head(10)

C:\Users\MyAsus\miniconda3\envs\myenv\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Bakmi Godog Keju),(Americano),0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
1,(Americano),(Bakmi Godog Keju),0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
73,"(Bakmi Godog Keju, Teh Tubruk)",(Americano),0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
74,"(Americano, Teh Tubruk)",(Bakmi Godog Keju),0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
75,(Bakmi Godog Keju),"(Americano, Teh Tubruk)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
76,(Americano),"(Bakmi Godog Keju, Teh Tubruk)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
78,"(Roti Bakar, Teh Tarik)",(Cappuccino),0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
83,(Cappuccino),"(Roti Bakar, Teh Tarik)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
108,"(Nasi Putih, Pisang Goreng)",(Extra Kerupuk Putih),0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0
113,(Extra Kerupuk Putih),"(Nasi Putih, Pisang Goreng)",0.1,0.1,0.1,1.0,10.0,0.09,inf,1.0

In [17]:
frq_items = apriori(TS_06_03_20, min_support = 0.05, use_colnames = True)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
#print(rules.head())
rules.head(6)

C:\Users\MyAsus\miniconda3\envs\myenv\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
121,"(Kopi Tubruk, Mineral Water)",(Extra Kerupuk Putih),0.0625,0.0625,0.0625,1.0,16.0,0.058594,inf,1.0
124,(Extra Kerupuk Putih),"(Kopi Tubruk, Mineral Water)",0.0625,0.0625,0.0625,1.0,16.0,0.058594,inf,1.0
126,"(Nasi Goreng Jawa, Kopi Tubruk)",(Extra Kerupuk Putih),0.0625,0.0625,0.0625,1.0,16.0,0.058594,inf,1.0
131,(Extra Kerupuk Putih),"(Nasi Goreng Jawa, Kopi Tubruk)",0.0625,0.0625,0.0625,1.0,16.0,0.058594,inf,1.0
162,"(Nasi Goreng Jawa, Nasi Putih)",(Extra Kerupuk Putih),0.0625,0.0625,0.0625,1.0,16.0,0.058594,inf,1.0
167,(Extra Kerupuk Putih),"(Nasi Goreng Jawa, Nasi Putih)",0.0625,0.0625,0.0625,1.0,16.0,0.058594,inf,1.0